/player_logs
/cache.pickle
/cache5.pickle
/.idea
/venv
/test.py
/competition/data
**/__pycache__

# compile trash
main.bin
main.exe
/main.build
/main.dist
/main.onefile-build
nuitka-crash-report.xml
cash.pickle
